h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --page-padding: 1.2rem 10rem;
    --gap: 1rem;
    --light-shades: #f3f3f4;
    --main-brand: #1693ac;
    --dark-accent: #333;
    --dark-shades: #232824;
}

@media screen and (max-width: 768px) {
    :root {
        --page-padding: 1rem 2rem;
    }
    .navbar-container {
        flex-direction: column;
        gap: var(--gap);
    }
    .navbar-links-container {
        flex-direction: column;
    }
}